<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Statystyki: Zadania ukończone</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.0/dist/chart.umd.min.js"></script>
    <style>
.button-container {
    margin-top: 30px;
}

    </style>
    <link rel="stylesheet" href="/css/main.css">
    <script src="/js/menu.js" defer></script>
</head>
<body>
<div th:replace="~{layout/header :: header}"></div>
<!--<section>-->
    <div class="container">

        <div class="stats-description">
            <h1><strong th:text="${loggedUser + ', jesteś nie do zatrzymania!'}"></strong></h1>
            <img src="/images/motivation/logo.png" alt="Motywacja" class="motivation-image"
                 style="width: 100%; max-width: 300px;">
            <p><strong>Ukończone zadania: <span th:text="${completedTasksStats['completed']}"></span></strong></p>
            <p><strong>Nieukończone zadania: <span th:text="${completedTasksStats['notCompleted']}"></span></strong></p>
        </div>


        <h2>Zadania ukończone vs nieukończone</h2>
        <canvas id="completedTasksChart" width="500" height="250"></canvas>
        <script th:inline="javascript">
    const data = [[${completedTasksStats}]];
    const ctx = document.getElementById('completedTasksChart').getContext('2d');
    new Chart(ctx, {
        type: 'doughnut',
        data: {
            labels: ['Ukończone', 'Nieukończone'],
            datasets: [{
                label: 'Zadania',
                data: [data.completed, data.notCompleted],
                backgroundColor: ['#005A3D', '#FFD700'],
            }]
        },
        options: {
            responsive: false,
            maintainAspectRatio: false
        }
    });

        </script>
        <div class="button-container">
            <a href="/panel-uzytkownika" class="button">Powrót do panelu</a>
        </div>

    </div>
<!--</section>-->
<div th:replace="~{layout/footer :: footer}"></div>
</body>
</html>
