<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
<header th:fragment="header">
    <nav>
        <ul>
            <li><a th:href="@{/}">Strona główna</a></li>
            <li><a th:href="@{/kategorie}">Kategorie</a></li>
            <li><a th:href="@{/zakonczoneZadania}">Zakończone zadania</a></li>
        </ul>
    </nav>

    <div class="a">
        <h1>Nieukończone zadania</h1>
        <ul>
            <li th:each="task : ${uncompletedTasks}">
                <span th:text="${task.name}">Nazwa zadania</span>
            </li>
        </ul>
    </div>

<!--    <div class="generalStats">-->
<!--        <div class="statItem">-->
<!--            <span class="statLabel">Liczba zadań:</span>-->
<!--            <div class="statValue">-->
<!--                <span th:text="${#lists.size(uncompletedTasks)}">42</span>-->

<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

</header>
</body>
</html>
