
.auth-panel-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--background-color);
    border: none;
    box-shadow: none;
}

.login-link {

    margin-top:20px;
}

.auth-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}


.auth-links a {
    font-size: 16px;
    color: var(--primary-color);
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 5px;
    background-color: transparent;
    border: 2px solid var(--primary-color);
    transition: background-color 0.3s, color 0.3s;
}


.user-panel-btn {

    font-size: 16px;
    color: white;
    background-color: var(--primary-color);
    padding: 8px 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    line-height: 1;
    display: flex;
    align-items: center;
}


.separator {
    font-size: 16px;
    color: var(--text-color);
    margin: 0 10px;
}


.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    vertical-align: middle;
    margin-right: 10px;
    position: relative;
    top: 2px;
    align-self: center;
    cursor: default;
}


.avatar:hover {
    transform: none;
}


.auth-links a {
    border: none;
    padding: 0;
    display: inline-block;
}

.auth-links a img {
    border: none;
}

.user-panel {
    display: flex;
    align-items: center;
    gap: 10px;
}
