@import url('main.css');

:root {
  --nav-menu-background: #2A2A2A;
  --text-hover-color: #CCCCCC;
}

html {
    scroll-behavior: smooth;
}
.header-title p {
    font-size: 1.2rem;
}

.header-nav {
    position: relative;
    padding: 15px;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
}

.menu-button {
    background: none;
    border: none;
    color: var(--text-color);
    cursor: pointer;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 11;
    display: block;
    transition: none;
}

.menu-button:hover {
    background: none;
    border: none;
    color: var(--text-color);
    opacity: 1;
    transition: none;
}

.menu-icon {
    width: 25px;
    height: 3px;
    background-color: var(--text-color);
    margin: 5px 0;
}

.nav-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--nav-menu-background);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s ease, visibility 0.4s;
    z-index: 10;
}

.nav-menu.show {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.4s ease, visibility 0.4s;
}

.menu-item {
    flex: 1;
    position: relative;
    max-width: 180px;
}

.menu-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    padding: 15px;
    background-color: var(--nav-menu-background);
    color: var(--text-color);
    transition: transform 0.3s, background-color 0.3s, color 0.3s;
    overflow: hidden;
    position: relative;
}

.menu-content:hover span {
    transform: translateY(60px);
    z-index: 2;
    color: var(--highlight-color);
}

.menu-content span {
    color: var(--text-hover-color);
    text-align: center;
    transition: transform 0.3s;
}

.menu-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
    transform: scale(1.1);
}

.menu-content:hover .menu-image {
    opacity: 1;
    transform: scale(1);
}

.close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    color: var(--accent-color);
    font-size: 30px;
    cursor: pointer;
}

.close-button:hover {
    background: none;
    border: none;
    color: var(--accent-color);
    transform: none;
    opacity: 1;
    transition: none;
}

.hidden {
    display: none;
}
