@import url('header.css');

:root {
  --primary-color: #005A3D; /* Głęboka butelkowa zieleń */
  --secondary-color: #A77B4C; /* Miedziany jako drugi kolor */
  --background-color: #F4F4F4; /* Jasnoszary tło */
  --text-color: #333; /* Ciemnoszary tekst */
  --accent-color: #D3AF6A; /* Złoty akcent */
  --highlight-color: #FFD700; /* Jasny złoty jako dodatkowy akcent */
  --button-color: #E0E0E0; /* Jasnoszary dla przycisków */
  --button-hover-color: #C0C0C0; /* Jaśniejszy szary przy hover */
  --white-color: #FFFFFF; /* Biały */
  --hover-opacity: 0.9; /* Przezroczystość przy hover */
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  background-color: var(--background-color);
  color: var(--text-color);
  line-height: 1.5;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: auto;
}

.main {
  flex: 1;
}

section {
  width: 100%;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background-color: var(--background-color);

}

header, footer {
  background-color: var(--background-color);
  padding: 20px;
  text-align: center;
  position: relative;
}

.task-list ul {
  list-style-type: none;
  padding-left: 0;
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

footer {
  margin-top: auto;
}

footer p {
  margin: 0;
  animation: fadeIn 1.5s ease-in;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

h1, h2, h3, h4, h5, h6 {
  color: var(--primary-color);
  margin: 0;
  margin-bottom: 15px;
}

button, .button {
  padding: 10px 20px;
  margin-bottom: 20px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
  background-color: var(--primary-color);
  color: var(--white-color);
  text-decoration: none;
  text-align: center;
}

button:hover, .button:hover {
  background-color: var(--secondary-color);
  color: var(--white-color);
  transform: scale(1.05);
}

form {
  margin-left: 20px;
}

span {
  font-size: 1.2em;
}

.taskCategory, .taskDescription, .taskDueDate {
  display: block;
  margin-bottom: 5px;
}

ul {
  padding-left: 20px;
}

li {
  margin-bottom: 10px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

a {
  text-decoration: none;
  color: var(--white-color);
}

.task-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.centered-table {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  width: 100%;
  max-width: 800px;
}

.centered-table th, .centered-table td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
}

.centered-table th {
  background-color: var(--primary-color);
  color: var(--white-color);
}

@media screen and (max-width: 600px) {
  .Eisenhower {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
  }

  .task {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    border: 1px solid var(--background-color);
    margin-bottom: 10px;
    background-color: var(--white-color);
    border-radius: 5px;
  }

  .taskDueDate {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .taskCategory, .taskDescription {
    margin-bottom: 5px;
  }

  .taskCategory {
    font-weight: bold;
  }

  .taskDescription {
    font-size: 1em;
  }
}