@import url('main.css'); /* Importowanie głównego pliku CSS */

#today-tasks {
    padding: 20px;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.top-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.image-container {
    flex: 1 1 33%; /* Grafika zajmuje 1/3 szerokości */
    margin-right: 20px;
}

.menu-image {
    width: 100%;
    height: auto;
}

.tasks-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Odstęp między kafelkami */
    justify-content: space-between;
}

.top-tasks .task-card {
    flex: 1 1 calc(45% - 10px); /* Pierwsze dwa zadania zajmują 45% szerokości */
    background-color: #f4f4f4;
    padding: 10px; /* Zmniejszono padding */
    border-radius: 8px; /* Mniejsze zaokrąglenie */
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1); /* Delikatniejszy cień */
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px; /* Mniejszy font */
}

.bottom-tasks .task-card {
    flex: 1 1 calc(30% - 10px); /* Pozostałe zadania zajmują 30% szerokości */
    background-color: #f4f4f4;
    padding: 10px; /* Zmniejszono padding */
    border-radius: 8px; /* Mniejsze zaokrąglenie */
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1); /* Delikatniejszy cień */
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px; /* Mniejszy font */
}

.task-card h3 {
    font-size: 16px; /* Mniejszy rozmiar nagłówka */
    margin-bottom: 8px; /* Zmniejszono margines */
}

.task-card p {
    font-size: 12px; /* Zmniejszenie czcionki w opisie */
    margin-bottom: 10px; /* Zmniejszono margines */
}

.task-card form {
    display: flex;
    justify-content: center;
}

.task-card button {
    padding: 8px 12px; /* Zmniejszenie paddingu przycisku */
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 12px; /* Mniejszy font w przycisku */
}

.task-card button:hover {
    background-color: #0056b3;
}
