<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Edytuj projekt</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<section>
    <div class="container">
        <h1>Edytuj projekt</h1>

        <form th:action="@{/projekty/edytowanie/{project_id}(project_id=${project.project_id})}" method="post">
            <label for="name">Nazwa projektu:</label>
            <input type="text" id="name" name="project_name" th:value="${project.project_name}" required/>

            <label for="description">Opis projektu:</label>
            <textarea id="description" name="project_description" th:text="${project.project_description}"></textarea>

            <label for="completed">Czy zakończony:</label>
            <input type="checkbox" id="completed" name="completed" th:checked="${project.completed}"/>

            <button type="submit">Zapisz</button>
        </form>

        <a href="/panel-uzytkownika" class="button">Powrót do panelu</a>

    </div>
</section>
</body>
</html>

