<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista projektów</title>
    <link rel="stylesheet" href="/css/main.css">

    <style>
        .button-group {
            display: flex;
            gap: 10px;
            margin-top: 10px;
        }
    </style>
    <script src="/js/menu.js" defer></script>
</head>
<body>

<div th:replace="~{layout/header :: header}"></div>

<section>
    <div class="container">
        <h1>Lista projektów</h1>
        <ul>
            <li th:each="project : ${projects}">
                <div>
                    <h2 th:text="'Projekt: ' + ${project.project_name}">Projekt: Nazwa projektu</h2>
                    <p th:text="'Opis: ' + ${project.project_description}">Opis projektu</p>

                    <div class="button-group">

                        <form th:action="@{/projekty/edytowanie/{project_id}(project_id=${project.project_id})}"
                              method="get">
                            <button type="submit">Edytuj</button>
                        </form>

                        <form th:action="@{/projekty/usun/{project_id}(project_id=${project.project_id})}" method="post"
                              onsubmit="return confirm('Czy na pewno chcesz usunąć ten projekt?')">
                            <button type="submit">Usuń</button>
                        </form>

                        <form th:action="@{/projekty/zakoncz/{project_id}(project_id=${project.project_id})}"
                              method="post">
                            <button type="submit">Oznacz jako zakończony</button>
                        </form>
                    </div>

                    <h3>Zadania:</h3>
                    <ul>
                        <li th:each="task : ${project.tasks}">
                            <p th:text="${task.description}">Opis zadania</p>
                        </li>
                    </ul>

                </div>
                <hr/>
            </li>
        </ul>
        <a th:href="@{/panel-uzytkownika}" class="button">Powrót do panelu użytkownika</a>
    </div>
</section>

<div th:replace="~{layout/footer :: footer}"></div>
</body>
</html>


