<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" th:replace="~{base :: template}">
<body>

<th:block th:fragment="content">

    <style>
        h2 {
            color: #f4623a;
        }
    </style>
    <div class="container mt-5">
        <h1 class="text-center mb-4">Edycja zadania</h1>

        <form id="task" th:action="@{'/edytujZadanie/' + ${task.taskId}}" method="post" th:object="${task}" class="needs-validation" novalidate>

            <input type="hidden" th:field="*{taskId}" />

            <div class="mb-3">
                <label for="category" class="form-label">Kategoria:</label>
                <input type="text" id="category" name="categoryName"
                       th:value="${task.category.categoryName}"
                       class="form-control" style="max-width: 300px;">
            </div>

            <div class="mb-3">
                <label for="description" class="form-label">Opis zadania:</label>
                <input type="text" id="description" name="description"
                       th:field="*{description}" required
                       class="form-control" style="max-width: 300px;">
            </div>

            <div class="mb-3">
                <label for="priority" class="form-label">Priorytet:</label>
                <select id="priority" name="priority" th:field="*{priority}"
                        class="form-select" required style="max-width: 300px;">
                    <option value="urgent-important">Pilne i ważne</option>
                    <option value="not-urgent-important">Niepilne, ale ważne</option>
                    <option value="urgent-not-important">Pilne, ale nieważne</option>
                    <option value="not-urgent-not-important">Nieważne i niepilne</option>
                </select>
            </div>

            <div class="mb-3">
                <label for="due_Date" class="form-label">Termin wykonania:</label>
                <input type="date" id="due_Date" name="due_Date"
                       th:field="*{due_Date}" required
                       class="form-control" style="max-width: 300px;">
            </div>

            <div class="d-flex justify-content-start mt-4 mb-5">
                <input type="submit" value="Zapisz" class="btn btn-primary">
            </div>
        </form>
    </div>
</th:block>

</body>
</html>
