<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--    <link rel="stylesheet" href="/css/main.css">-->
<!--    <script src="/js/menu.js" defer></script>-->
<!--</head>-->
<!--<body>-->
<!--<div th:replace="layout/header :: header"></div>-->
<!--<div th:replace="fragments/dynamicPriorityTasks :: dynamicPriorityTasks"></div>-->
<!--<div th:replace="layout/footer :: footer"></div>-->
<!--</body>-->
<!--</html>-->