<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${pageTitle}">To-Do List</title>
    <link rel="stylesheet" href="main.css">

    <!--    <link rel="stylesheet" href="/css/main.css">-->
    <!--    <link rel="stylesheet" href="/css/contentTemplate.css">-->

</head>
<body>
<div th:fragment="contentTemplate">
    <section class="main">
        <div th:fragment="completedTask">
            <section>
                <div class="container">
                    <h2>Zaznacz zadanie jako zakończone</h2>
                    <div class="changeStatus">
                        <ul>
                            <li th:each="task : ${tasks}" th:if="${!task.completed}">
                                <div>
                                    <span class="taskCategory" th:text="${task.category.categoryName}"></span>
                                    <span class="taskDescription" th:text="${task.description}"></span><br>
                                    <form th:action="@{'/changeStatus/' + ${task.taskId}}" method="post">
                                        <input type="hidden" name="completed" value="true"/>
                                        <input type="hidden" name="taskId" th:value="${task.taskId}"/>
                                        <button type="submit">Zakończ zadanie</button>
                                    </form>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
        </div>
        <div th:fragment="todayTasks">
            <section>
                <div class="container">
                    <h2>Zadania na dzisiaj:</h2>
                    <ul>
                        <li th:each="task : ${todayTasks}" th:if="${!task.completed}">
                            <span th:text="${task.category.categoryName}"></span> - <span
                                th:text="${task.description}"></span>
                        </li>
                    </ul>
                </div>
            </section>
        </div>
        <div th:fragment="sortedTasks">
            <section>
                <div class="container">
                    <form action="/sortuj" method="get">
                        <label for="sortOption">Sortuj według:</label>
                        <select id="sortOption" name="sortOption">
                            <option value="date">Daty rosnąco</option>
                            <option value="importantUrgent">Ważne i Pilne</option>
                            <option value="importantNotUrgent">Ważne, ale Niepilne</option>
                            <option value="notImportantUrgent">Nie Wazne, ale Pilne</option>
                            <option value="notImportantNotUrgent">Nie Wazne i Nie Pilne</option>
                        </select>
                        <button type="submit">Sortuj</button>
                    </form>
                </div>
            </section>
        </div>
        <div th:fragment="quickActions">
            <section class="quickActions">
                <div class="container">
                    <a class="button" th:href="@{/dodajZadanie}">Dodaj zadanie</a>
                    <a class="button" th:href="@{/edytujZadanie}">Edytuj zadanie</a>
                    <a class="button" th:href="@{/usunZadanie}">Usuń zadanie</a>
                </div>
            </section>
        </div>
        <div th:fragment="eisenhowerMatrix">
            <section class="eisenhowerMatrix">
                <div class="container">
                    <div class="Eisenhower">
                        <div class="Ważne Pilne">
                            <span>Ważne Pilne</span>
                            <div class="tasks">
                                <div th:each="task : ${tasks}"
                                     th:if="${task.priority == 'urgent-important' and !task.completed}" class="task">
                                    <span class="taskDueDate" th:text="${task.due_Date}"></span>
                                    <span class="taskCategory" th:text="${task.category.categoryName}"></span>
                                    <span class="taskDescription" th:text="${task.description}"></span>
                                </div>
                            </div>
                        </div>

                        <div class="Pilne Nieważne">
                            <span>Pilne Nieważne</span>
                            <div class="tasks">
                                <div th:each="task : ${tasks}"
                                     th:if="${task.priority == 'urgent-not-important' and !task.completed}"
                                     class="task">
                                    <span class="taskDueDate" th:text="${task.due_Date}"></span>
                                    <span class="taskCategory" th:text="${task.category.categoryName}"></span>
                                    <span class="taskDescription" th:text="${task.description}"></span>
                                </div>
                            </div>
                        </div>

                        <div class="Niepilne Ważne">
                            <span>Niepilne Ważne</span>
                            <div class="tasks">
                                <div th:each="task : ${tasks}"
                                     th:if="${task.priority == 'not-urgent-important' and !task.completed}"
                                     class="task">
                                    <span class="taskDueDate" th:text="${task.due_Date}"></span>
                                    <span class="taskCategory" th:text="${task.category.categoryName}"></span>
                                    <span class="taskDescription" th:text="${task.description}"></span>
                                </div>
                            </div>
                        </div>

                        <div class="Niepilne Nieważne">
                            <span>Niepilne Nieważne</span>
                            <div class="tasks">
                                <div th:each="task : ${tasks}"
                                     th:if="${task.priority == 'not-urgent-not-important' and !task.completed}"
                                     class="task">
                                    <span class="taskDueDate" th:text="${task.due_Date}"></span>
                                    <span class="taskCategory" th:text="${task.category.categoryName}"></span>
                                    <span class="taskDescription" th:text="${task.description}"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </section>
</div>


</body>
</html>