<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${pageTitle}">To-Do List</title>
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="header.css">
    <link rel="stylesheet" href="/css/welcomeSection.css">

    <script src="js/menu.js" defer></script>

</head>
<body>
<div th:fragment="contentTemplate">
    <section class="main">

        <!--                <div th:fragment="completedTask">-->
        <!--                    <section>-->
        <!--                        <div class="container">-->
        <!--                            <h2>Zaznacz zadanie jako zakończone</h2>-->
        <!--                            <div class="changeStatus">-->
        <!--                                <ul>-->
        <!--                                    <li th:each="task : ${tasks}" th:if="${!task.completed}">-->
        <!--                                        <div>-->
        <!--                                            <span class="taskCategory" th:text="${task.category.categoryName}"></span>-->
        <!--                                            <span class="taskDescription" th:text="${task.description}"></span><br>-->
        <!--                                            <form th:action="@{'/changeStatus/' + ${task.taskId}}" method="post">-->
        <!--                                                <input type="hidden" name="completed" value="true"/>-->
        <!--                                                <input type="hidden" name="taskId" th:value="${task.taskId}"/>-->
        <!--                                                <button type="submit">Zakończ zadanie</button>-->
        <!--                                            </form>-->
        <!--                                        </div>-->
        <!--                                    </li>-->
        <!--                                </ul>-->
        <!--                            </div>-->
        <!--                        </div>-->
        <!--                    </section>-->
        <!--                </div>-->

        <div th:if="${isLoggedIn}">
            <p>Jesteś zalogowany jako: <span th:text="${loggedUser}"></span></p>
        </div>
        <div th:if="${not isLoggedIn}">
            <p>Nie jesteś zalogowany. <a href="/logowanie">Zaloguj się tutaj</a>.</p>
        </div>


        <div th:replace="~{fragments/welcomeSection :: welcomeSection}"></div>






        <div th:fragment="todayTasks">
            <section>
                <div class="container">
                    <h2>Zadania na dzisiaj:</h2>
                    <ul>
                        <li th:each="task : ${todayTasks}" th:if="${!task.completed}">
                            <span th:text="${task.category.categoryName}"></span> -
                            <span th:text="${task.description}"></span>
                            <form th:action="@{'/changeStatus/' + ${task.taskId}}" method="post">
                                <input type="hidden" name="completed" value="true"/>
                                <input type="hidden" name="taskId" th:value="${task.taskId}"/>
                                <button type="submit">Zakończ zadanie</button>
                            </form>
                        </li>
                    </ul>
                </div>
            </section>
        </div>
        <div th:fragment="sortedTasks">
            <section>
                <div class="container">
                    <form action="/sortuj" method="get">
                        <label for="sortOption">Sortuj według:</label>
                        <select id="sortOption" name="sortOption">
                            <option value="date">Daty rosnąco</option>
                            <option value="importantUrgent">Ważne i pilne</option>
                            <option value="importantNotUrgent">Ważne, ale niepilne</option>
                            <option value="notImportantUrgent">Nieważne, ale pilne</option>
                            <option value="notImportantNotUrgent">Nieważne i niepilne</option>
                        </select>
                        <button type="submit">Sortuj</button>
                    </form>
                </div>
            </section>
        </div>
        <div>
            <section>
                <div class="container">
                    <a class="button" th:href="@{/tasks/dynamic-priority}">Pokaż zadania według dynamicznych
                        priorytetów</a>
                </div>
            </section>
        </div>
        <div th:fragment="eisenhowerMatrix">
            <section class="eisenhowerMatrix">
                <div class="container">
                    <div class="Eisenhower">
                        <div class="Ważne Pilne" data-description="Co to znaczy? Zadania, które wymagają natychmiastowej reakcji i są
                        kluczowe dla Twoich wartości oraz celów np. opłacić rachunki.
                        Dlaczego to istotne? Pomagają nam skoncentrować się na tym, co naprawdę ma znaczenie i nie pozwalają nam na odkładanie ważnych spraw na później.">
                            <span>Ważne Pilne</span>
                            <div class="tasks">
                                <div th:each="task : ${tasks}"
                                     th:if="${task.priority == 'urgent-important' and !task.completed}" class="task">
                                    <span th:text="${task.due_Date}"></span> -
                                    <span th:text="${task.category.categoryName}"></span> -
                                    <span th:text="${task.description}"></span>
                                    <form th:action="@{'/changeStatus/' + ${task.taskId}}" method="post">
                                        <input type="hidden" name="completed" value="true"/>
                                        <input type="hidden" name="taskId" th:value="${task.taskId}"/>
                                        <button type="submit">Zakończ zadanie</button>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <div class="Pilne Nieważne" data-description="Co to znaczy? Zadania, które wymagają szybkiej reakcji,
                        ale nie mają większego znaczenia w kontekście Twoich celów np. odpowiedzieć na email.
                        Dlaczego to istotne? Pozwalają nam reagować na bieżące sprawy, ale często można je delegować lub
                        zrealizować szybciej, by skupić się na ważniejszych zadaniach.">
                            <span>Pilne Nieważne</span>
                            <div class="tasks">
                                <div th:each="task : ${tasks}"
                                     th:if="${task.priority == 'urgent-not-important' and !task.completed}"
                                     class="task">
                                    <span th:text="${task.due_Date}"></span> -
                                    <span th:text="${task.category.categoryName}"></span> -
                                    <span th:text="${task.description}"></span>
                                    <form th:action="@{'/changeStatus/' + ${task.taskId}}" method="post">
                                        <input type="hidden" name="completed" value="true"/>
                                        <input type="hidden" name="taskId" th:value="${task.taskId}"/>
                                        <button type="submit">Zakończ zadanie</button>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <div class="Niepilne Ważne" data-description="Co to znaczy? Zadania, które są kluczowe dla Twojego rozwoju lub wartości,
                                                                      ale nie wymagają natychmiastowej interwencji np. nauka nowego języka obcego. Dlaczego to istotne?
                                                                      Pozwalają inwestować czas w rozwój osobisty i budowanie umiejętności, które mogą przynieść korzyści w przyszłości. ">
                            <span>Niepilne Ważne</span>
                            <div class="tasks">
                                <div th:each="task : ${tasks}"
                                     th:if="${task.priority == 'not-urgent-important' and !task.completed}"
                                     class="task">
                                    <span th:text="${task.due_Date}"></span> -
                                    <span th:text="${task.category.categoryName}"></span> -
                                    <span th:text="${task.description}"></span>
                                    <form th:action="@{'/changeStatus/' + ${task.taskId}}" method="post">
                                        <input type="hidden" name="completed" value="true"/>
                                        <input type="hidden" name="taskId" th:value="${task.taskId}"/>
                                        <button type="submit">Zakończ zadanie</button>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <div class="Niepilne Nieważne" data-description="Co to znaczy? Zadania, które nie są istotne ani pilne, i mogą być uznane za rozpraszacze
                                                                         np. przeglądanie mediów społecznościowych. Dlaczego to istotne?
                                                                         Pomagają zrozumieć, które aktywności można ograniczyć, aby skupić się na tym, co przynosi wartość.">
                            <span>Niepilne Nieważne</span>
                            <div class="tasks">
                                <div th:each="task : ${tasks}"
                                     th:if="${task.priority == 'not-urgent-not-important' and !task.completed}"
                                     class="task">
                                    <span th:text="${task.due_Date}"></span> -
                                    <span th:text="${task.category.categoryName}"></span> -
                                    <span th:text="${task.description}"></span>
                                    <form th:action="@{'/changeStatus/' + ${task.taskId}}" method="post">
                                        <input type="hidden" name="completed" value="true"/>
                                        <input type="hidden" name="taskId" th:value="${task.taskId}"/>
                                        <button type="submit">Zakończ zadanie</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <div th:fragment="quickActions">
            <section class="quickActions">
                <div class="container">
                    <a class="button" th:href="@{/dodajZadanie}">Dodaj zadanie</a>
                    <a class="button" th:href="@{/edytujZadanie}">Edytuj zadanie</a>
                    <a class="button" th:href="@{/usunZadanie}">Usuń zadanie</a>
                </div>
            </section>
        </div>
    </section>
</div>

</body>
</html>