<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="${pageTitle}">To-Do List</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/welcomeSection.css">
    <link rel="stylesheet" href="/css/todayTasks.css">
    <link rel="stylesheet" href="/css/eisenhowerMatrix.css">
    <link rel="stylesheet" href="/css/auth-panel.css">

    <script src="/js/menu.js" defer></script>
    <script src="/js/quotes.js" defer></script>
    <script src="/js/todayTasks.js" defer></script>
</head>
<body>
<div th:replace="~{layout/header :: header}"></div>
<main>
  <div th:insert="~{fragments/login :: login}"></div>
</main>
<div th:replace="~{layout/footer :: footer}"></div>
</body>
</html>