<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--    <link rel="stylesheet" href="/css/main.css">-->
<!--    <link rel="stylesheet" href="/css/header.css">-->

<!--    <script src="/js/menu.js" defer></script>-->
<!--</head>-->
<!--<body>-->
<!--<div th:replace="layout/header :: header"></div>-->
<!--<section style="margin-top: 50px;">-->
<!--    <div class="container">-->
<!--        <h1>Panel administracyjny</h1>-->
<!--        <div style="margin-top: 20px;">-->
<!--            <a href="/dashboard/reports" class="button">Wyświetl raport o użytkownikach</a>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->
<!--<div th:replace="layout/footer :: footer"></div>-->
<!--</body>-->
<!--</html>-->