<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dodaj Kategorię</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>

<div th:fragment="addCategoryForm">
    <h2>Dodaj kategorię</h2>
    <form id="addCategory" th:action="@{/dodajKategorie}" method="post" th:object="${category}">
        <label for="category">Kategoria:</label>
        <input type="text" id="category" th:field="*{categoryName}"/>
        <button type="submit" class="button">Dodaj kategorię</button>
    </form>
</div>
</body>
</html>
