<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dodaj nowe zadanie</title>
    <link rel="stylesheet" href="/addTask.css">
    <link rel="stylesheet" href="/main.css">
</head>
<body>

<header>
    <nav>
        <ul>
            <li><a href="/">Strona główna</a></li>
            <li><a th:href="@{/kategorie}">Kategorie</a></li>
        </ul>
    </nav>

</header>

<h2>Dodaj nowe zadanie</h2>

<form id="task" th:action="@{/dodajZadanie}" method="post" th:object="${task}">

    <label for="category">Kategoria:</label>
    <select id="category" name="category" required>
        <option th:each="cat : ${categories}" th:value="${cat.categoryId}"
                th:text="${cat.categoryName}">Wybierz kategorię</option>
    </select>

    <input type="hidden" id="category_id" name="category_id" th:if="${task.category != null}" th:value="${task.category.categoryId}">

    <input type="text" id="newCategory" name="newCategory" placeholder="Dodaj nową kategorię">

    <label for="description">Opis zadania:</label>
    <input type="text" id="description" name="description" th:field="*{description}" required><br>

    <label for="priority">Priorytet:</label>
    <select id="priority" name="priority" th:field="*{priority}" required>
        <option value="urgent-important">Pilne i ważne</option>
        <option value="not-urgent-important">Niepilne, ale ważne</option>
        <option value="urgent-not-important">Pilne, ale nieważne</option>
        <option value="not-urgent-not-important">Nieważne i niepilne</option>
    </select><br>

    <label for="due_Date">Termin wykonania:</label>
    <input type="date" id="due_Date" name="due_Date" th:field="*{due_Date}" required><br>

    <input type="submit" value="Dodaj zadanie">
</form>
</body>
</html>








<!--&lt;!&ndash;<!DOCTYPE html>&ndash;&gt;-->
<!--&lt;!&ndash;<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">&ndash;&gt;-->
<!--&lt;!&ndash;<head>&ndash;&gt;-->
<!--&lt;!&ndash;    <meta charset="UTF-8">&ndash;&gt;-->
<!--&lt;!&ndash;    <meta name="viewport" content="width=device-width, initial-scale=1.0">&ndash;&gt;-->
<!--&lt;!&ndash;    <title>Dodaj nowe zadanie</title>&ndash;&gt;-->
<!--&lt;!&ndash;    <link rel="stylesheet" href="/addTask.css">&ndash;&gt;-->
<!--&lt;!&ndash;</head>&ndash;&gt;-->
<!--&lt;!&ndash;<body>&ndash;&gt;-->

<!--&lt;!&ndash;<h2>Dodaj nowe zadanie</h2>&ndash;&gt;-->
<!--&lt;!&ndash;<form id="task" th:action="@{/dodajZadanie}" method="post" th:object="${task}">&ndash;&gt;-->

<!--&lt;!&ndash;&lt;!&ndash;    th:action="@{/dodajZadanie}": Ustawia akcję formularza na "/dodajZadanie". Składnia @{/...} to sposób Thymeleafa na generowanie adresów URL.&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;    method="post": Wskazuje, że formularz będzie wysłany za pomocą metody HTTP POST.&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;    th:object="${task}": Powiązuje formularz z obiektem "task". Oznacza to, że pola formularza zostaną wypełnione wartościami z obiektu "task", &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;    a po wysłaniu formularza wartości zostaną zmapowane z powrotem do obiektu "task".&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;    <label for="title">Tytuł zadania:</label>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;    <input type="text" id="title" name="title" th:field="*{title}" required><br>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;    th:field="*{title}" oznacza, że wartość tego pola będzie pobierana i ustawiana z pola "title" obiektu "task"&ndash;&gt;&ndash;&gt;-->

<!--&lt;!&ndash;    <label for="category">Kategoria:</label>&ndash;&gt;-->
<!--&lt;!&ndash;    <input type="text" id="category" name="category" th:field="*{category}"><br>&ndash;&gt;-->

<!--&lt;!&ndash;    <label for="description">Opis zadania:</label>&ndash;&gt;-->
<!--&lt;!&ndash;    <input type="text" id="description" name="description" th:field="*{description}" required><br>&ndash;&gt;-->

<!--&lt;!&ndash;    <label for="priority">Priorytet:</label>&ndash;&gt;-->
<!--&lt;!&ndash;    <select id="priority" name="priority" th:field="*{priority}" required>&ndash;&gt;-->
<!--&lt;!&ndash;        <option value="urgent-important">Pilne i ważne</option>&ndash;&gt;-->
<!--&lt;!&ndash;        <option value="not-urgent-important">Niepilne, ale ważne</option>&ndash;&gt;-->
<!--&lt;!&ndash;        <option value="urgent-not-important">Pilne, ale nieważne</option>&ndash;&gt;-->
<!--&lt;!&ndash;        <option value="not-urgent-not-important">Nieważne i niepilne</option>&ndash;&gt;-->
<!--&lt;!&ndash;    </select><br>&ndash;&gt;-->

<!--&lt;!&ndash;    <label for="due_Date">Termin wykonania:</label>&ndash;&gt;-->
<!--&lt;!&ndash;    <input type="date" id="due_Date" name="due_Date" th:field="*{due_Date}" required><br>&ndash;&gt;-->

<!--&lt;!&ndash;    <input type="submit" value="Dodaj zadanie">&ndash;&gt;-->
<!--&lt;!&ndash;</form>&ndash;&gt;-->
<!--&lt;!&ndash;</body>&ndash;&gt;-->
<!--&lt;!&ndash;</html>&ndash;&gt;-->
