<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dodaj nowe zadanie</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
<div th:replace="layout/header :: header"></div>
<div th:fragment="addTaskForm">
    <div class="container">
        <h2>Dodaj nowe zadanie</h2>

        <form id="task" th:action="@{/dodajZadanie}" method="post" th:object="${task}">
            <label for="category">Kategoria:</label>
            <select id="category" name="categoryId">
                <option value="" disabled selected>Wybierz kategorię</option>
                <option th:each="cat : ${categories}" th:if="${cat.categoryName} != 'Default'"
                        th:value="${cat.categoryId}" th:text="${cat.categoryName}">Wybierz kategorię
                </option>
            </select>

            <label for="description">Opis zadania:</label>
            <input type="text" id="description" name="description" th:field="*{description}" required><br>
            <label for="priority">Priorytet:</label>
            <select id="priority" name="priority" th:field="*{priority}" required>
                <option value="urgent-important">Pilne i ważne</option>
                <option value="not-urgent-important">Niepilne, ale ważne</option>
                <option value="urgent-not-important">Pilne, ale nieważne</option>
                <option value="not-urgent-not-important">Nieważne i niepilne</option>
            </select><br>
            <label for="due_Date">Termin wykonania:</label>
            <input type="date" id="due_Date" name="due_Date" th:field="*{due_Date}" required><br>
            <input type="submit" class="button" value="Dodaj zadanie" > <a href="/" class="button">Powrót na stronę główną</a>
        </form>

    </div>
</div>
<div th:replace="layout/footer :: footer"></div>
</body>
</html>