<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Kategoria Istnieje</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
<div th:fragment="categoryExist">
    <h2>Kategoria już istnieje</h2>
    <p>Wybrana kategoria już istnieje. Proszę spróbować dodać inną kategorię.</p>
    <a class="button" th:href="@{/dodajKategorie}">Spróbuj ponownie</a>
    <a class="button" th:href="@{/kategorie}">Powrót do listy kategorii</a>
</div>
</body>
</html>
