<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Kategorie</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
<div th:fragment="categories">
    <div class="container">
        <h2>Kategorie</h2>
        <ul>
            <li th:each="category : ${categories}" th:if="${category.categoryName !='Default'}">
                <span th:text="${category.categoryName}"></span>
                <a class="button" th:href="@{/kategorie/edytujKategorie/{categoryId}(categoryId=${category.categoryId})}">Edytuj</a>
                <a class="button" th:href="@{/kategorie/usunKategorie/{categoryId}(categoryId=${category.categoryId})}">Usuń</a>
            </li>
        </ul>
        <a class="button" th:href="@{/dodajKategorie}">Dodaj kategorię</a>
    </div>
</div>
</body>
</html>