<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Rejestracja</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
<div th:fragment="createUser">
    <div class="container">
        <h1>Rejestracja</h1>
        <form th:action="@{/tworzenieUzytkownika}" method="post" th:object="${user}">
            <div>
                <label for="username">Nazwa użytkownika:</label>
                <input type="text" id="username" th:field="*{username}" required/>
            </div>
            <div>
                <label for="password">Hasło:</label>
                <input type="password" id="password" th:field="*{password}" required/>
            </div>
            <div>
                <button type="submit">Zarejestruj się</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>