<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Usuń Kategorię</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
<div th:fragment="deleteCategoryForm">
    <div class="container">
    <h1>Usuń Kategorię</h1>
    <p>Czy na pewno chcesz usunąć kategorię: <span th:text="${category.categoryName}"></span>?</p>
    <form th:action="@{/kategorie/usunKategorie/{categoryId}(categoryId=${category.categoryId})}" method="post">
        <button type="submit">Usuń</button>
    </form>
    <a class="button" th:href="@{/kategorie}">Anuluj</a>
    </div>
</div>
</body>
</html>
