<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Zadania według dynamicznych priorytetów</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<div th:fragment="dynamicPriorityTasks">
    <section>
        <div class="container">
            <h1>Zadania według dynamicznych priorytetów</h1>
            <p>
                Tutaj znajdziesz listę swoich zadań, które automatycznie przydzielają priorytety w zależności od liczby
                dni pozostałych do terminu zakończenia.
                Dzięki temu zawsze wiesz, które zadania wymagają natychmiastowej uwagi, a które można zaplanować na
                później.
            </p>
            <p>
                <strong>Oto klasyfikacja:</strong><br>
            <ul>
                <li><strong>Wysoki priorytet:</strong> Zadań zostało mniej niż 1 dzień.</li>
                <li><strong>Średni priorytet:</strong> Od 1 do 3 dni.</li>
                <li><strong>Niski priorytet:</strong> Ponad 3 dni.</li>
                <li><strong>Przeterminowane:</strong> Termin minął!</li>
            </ul>
            </p>
            <table class="centered-table">
                <thead>
                <tr>
                    <th>Opis</th>
                    <th>Data zakończenia</th>
                    <th>Priorytet dynamiczny</th>
                    <th>Dni do zakończenia</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="task : ${tasks}">
                    <td th:text="${task.description}"></td>
                    <td th:text="${task.due_Date}"></td>
                    <td th:text="${task.dynamicPriority}"></td>
                    <td th:text="${T(java.time.temporal.ChronoUnit).DAYS.between(T(java.time.LocalDate).now(), task.due_Date)} + ' dni'"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>
</div>
</body>
</html>
