<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>

<header>
    <nav>
        <ul>
            <li><a href="/">Strona główna</a></li>
            <li><a th:href="@{/kategorie}">Kategorie</a></li>
        </ul>
    </nav>
</header>

  <h1>Edycja zadania</h1>
  <a th:href="@{/edytujZadanie/{taskId}(taskId = ${task.taskId})}">Edytuj zadanie</a>
</body>
</html>