<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Macierz Einsenhowera</title>
    <link rel="stylesheet" href="/css/eisenhowerMatrix.css">
</head>
<body>
<div th:fragment="eisenhowerMatrix">
    <section class="eisenhowerMatrix">
        <div class="container">
            <h1>Priorytetyzuj i Zarządzaj Czasem</h1>
            <div class="eisenhower-matrix-content">
                <div class="Ważne Pilne" data-description="Co to znaczy? Zadania, które wymagają natychmiastowej reakcji i są
                        kluczowe dla Twoich wartości oraz celów np. opłacić rachunki.
                        Dlaczego to istotne? Pomagają nam skoncentrować się na tym, co naprawdę ma znaczenie i nie pozwalają nam na odkładanie ważnych spraw na później.">
                    <span>Ważne Pilne</span>
                    <div class="tasks">
                        <div th:each="task : ${tasks}"
                             th:if="${task.priority == 'urgent-important' and !task.completed}" class="task">
                            <span th:text="${task.due_Date}"></span> -
                            <span th:text="${task.category.categoryName}"></span> -
                            <span th:text="${task.description}"></span>
                            <form th:action="@{'/changeStatus/' + ${task.taskId}}" method="post">
                                <input type="hidden" name="completed" value="true"/>
                                <input type="hidden" name="taskId" th:value="${task.taskId}"/>
                                <button type="submit">Zakończ zadanie</button>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="Pilne Nieważne" data-description="Co to znaczy? Zadania, które wymagają szybkiej reakcji,
                        ale nie mają większego znaczenia w kontekście Twoich celów np. odpowiedzieć na email.
                        Dlaczego to istotne? Pozwalają nam reagować na bieżące sprawy, ale często można je delegować lub
                        zrealizować szybciej, by skupić się na ważniejszych zadaniach.">
                    <span>Pilne Nieważne</span>
                    <div class="tasks">
                        <div th:each="task : ${tasks}"
                             th:if="${task.priority == 'urgent-not-important' and !task.completed}"
                             class="task">
                            <span th:text="${task.due_Date}"></span> -
                            <span th:text="${task.category.categoryName}"></span> -
                            <span th:text="${task.description}"></span>
                            <form th:action="@{'/changeStatus/' + ${task.taskId}}" method="post">
                                <input type="hidden" name="completed" value="true"/>
                                <input type="hidden" name="taskId" th:value="${task.taskId}"/>
                                <button type="submit">Zakończ zadanie</button>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="Niepilne Ważne"
                     data-description="Co to znaczy? Zadania, które są kluczowe dla Twojego rozwoju lub wartości,
                                                                      ale nie wymagają natychmiastowej interwencji np. nauka nowego języka obcego. Dlaczego to istotne?
                                                                      Pozwalają inwestować czas w rozwój osobisty i budowanie umiejętności, które mogą przynieść korzyści w przyszłości. ">
                    <span>Niepilne Ważne</span>
                    <div class="tasks">
                        <div th:each="task : ${tasks}"
                             th:if="${task.priority == 'not-urgent-important' and !task.completed}"
                             class="task">
                            <span th:text="${task.due_Date}"></span> -
                            <span th:text="${task.category.categoryName}"></span> -
                            <span th:text="${task.description}"></span>
                            <form th:action="@{'/changeStatus/' + ${task.taskId}}" method="post">
                                <input type="hidden" name="completed" value="true"/>
                                <input type="hidden" name="taskId" th:value="${task.taskId}"/>
                                <button type="submit">Zakończ zadanie</button>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="Niepilne Nieważne" data-description="Co to znaczy? Zadania, które nie są istotne ani pilne, i mogą być uznane za rozpraszacze
                                                                         np. przeglądanie mediów społecznościowych. Dlaczego to istotne?
                                                                         Pomagają zrozumieć, które aktywności można ograniczyć, aby skupić się na tym, co przynosi wartość.">
                    <span>Niepilne Nieważne</span>
                    <div class="tasks">
                        <div th:each="task : ${tasks}"
                             th:if="${task.priority == 'not-urgent-not-important' and !task.completed}"
                             class="task">
                            <span th:text="${task.due_Date}"></span> -
                            <span th:text="${task.category.categoryName}"></span> -
                            <span th:text="${task.description}"></span>
                            <form th:action="@{'/changeStatus/' + ${task.taskId}}" method="post">
                                <input type="hidden" name="completed" value="true"/>
                                <input type="hidden" name="taskId" th:value="${task.taskId}"/>
                                <button type="submit">Zakończ zadanie</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>