<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/newsSection.css">
</head>
<body>
<section class="newsSection">
  <h2>Aktualności</h2>
  <div class="newsItem">
    <span class="newsDate">2023-12-01</span>
    <p class="newsContent">Nowa funkcja: Możliwość dodawania załączników do zadań!</p>
  </div>
  <div class="newsItem">
    <span class="newsDate">2023-11-28</span>
    <p class="newsContent">Zaktualizowano interfejs użytkownika dla lepszej wydajności.</p>
  </div>
</section>


</body>
</html>