<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>


<h1>Zadania:</h1>
<ul>
    <li th:each="task : ${tasks}">
        <div>
            <span class="taskCategory" th:text="${task.category.categoryName}"></span><br>
            <span class="taskDescription" th:text="${task.description}"></span>

            <a th:href="@{/edytujZadanie/{taskId}(taskId = ${task.taskId})}">Edytuj zadanie</a>
        </div>
    </li>
</ul>

</body>
</html>
