<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <title>ToDo</title>-->
<!--    <link rel="stylesheet" href="/css/main.css">-->

<!--    <script src="/js/menu.js" defer></script>-->
<!--</head>-->
<!--<body>-->

<!--<div th:replace="layout/header :: header"></div>-->
<!--<div th:fragent="showTaskListToEdit">-->
<!--    <div class="container">-->
<!--        <h1>Zadania:</h1>-->
<!--        <div>-->
<!--            <ul>-->
<!--                <li th:each="task : ${tasks}" th:if="${task.project == null}">-->

<!--                    <span th:text="${task.due_Date}"></span> - -->
<!--                    <span th:text="${task.category.categoryName}"></span> - -->
<!--                    <span th:text="${task.description}"></span>-->

<!--                    <a class="button" th:href="@{/edytujZadanie/{taskId}(taskId = ${task.taskId})}">Edytuj zadanie</a>-->
<!--                </li>-->
<!--            </ul>-->
<!--        </div>-->
<!--        <a href="/" class="button">Powrót na stronę główną</a>-->
<!--    </div>-->
<!--    <div th:replace="layout/footer :: footer"></div>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->
