<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>
<h2>Edycja kategorii</h2>

<h2>Kategorie:</h2>
    <li th:each="category : ${categories}">
        <div>
            <span class="category" th:text="${category.categoryName}"></span>
            <a th:href="@{/edytujKategorie/{categoryId}(categoryId = ${category.categoryId})}">Edytuj kategorię</a>
        </div>
</body>
</html>