<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
<div th:replace="layout/header :: header"></div>
<div th:fragment="showTaskListToDelete">
    <div class="container">
        <h1>Zadania:</h1>
        <div>
            <ul>
                <li th:each="task : ${tasks}">

                    <span th:text="${task.due_Date}"></span> -
                    <span th:text="${task.category.categoryName}"></span> -
                    <span th:text="${task.description}"></span>

                    <a class="button" th:href="@{/usunZadanie/{taskId}(taskId = ${task.taskId})}">Usuń zadanie </a>
        </div>
        </li>
        </ul>
    </div>
</div>
<div th:replace="layout/footer :: footer"></div>
</body>
</html>
