<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<!--<body>-->
<!--<div th:fragment="sortTasks">-->
<!--    <section>-->
<!--        <div class="container">-->
<!--            <div class="sortTasks-content">-->
<!--                <form action="/sortuj" method="get" id="sortForm">-->
<!--                    <label for="sortOption">Sortuj według:</label>-->
<!--                    <select id="sortOption" name="sortOption">-->
<!--                        <option value="date">Daty rosnąco</option>-->
<!--                        <option value="importantUrgent">Ważne i pilne</option>-->
<!--                        <option value="importantNotUrgent">Ważne, ale niepilne</option>-->
<!--                        <option value="notImportantUrgent">Nieważne, ale pilne</option>-->
<!--                        <option value="notImportantNotUrgent">Nieważne i niepilne</option>-->
<!--                    </select>-->
<!--                    <button type="submit">Sortuj</button>-->
<!--                </form>-->
<!--            </div>-->
<!--        </div>-->
<!--    </section>-->
<!--</div>-->

<!--</body>-->
<!--</html>-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sort Tasks</title>
</head>
<body>
<div th:fragment="sortTasks">
    <section>
        <div class="container">
            <div class="sortTasks-content">
                <form action="/sortuj" method="get" id="sortForm">
                    <label for="sortOption">Sortuj według:</label>
                    <select id="sortOption" name="sortOption">
                        <option value="date">Daty rosnąco</option>
                        <option value="importantUrgent">Ważne i pilne</option>
                        <option value="importantNotUrgent">Ważne, ale niepilne</option>
                        <option value="notImportantUrgent">Nieważne, ale pilne</option>
                        <option value="notImportantNotUrgent">Nieważne i niepilne</option>
                    </select>
                    <button type="submit">Sortuj</button>
                </form>
                <div class="tasks-list">
                    <h2 th:if="${sortOption == 'date'}">Zadania posortowane po dacie:</h2>
                    <h2 th:if="${sortOption == 'importantUrgent'}">Zadania ważne i pilne:</h2>
                    <h2 th:if="${sortOption == 'importantNotUrgent'}">Zadania ważne, ale niepilne:</h2>
                    <h2 th:if="${sortOption == 'notImportantUrgent'}">Zadania nieważne, ale pilne:</h2>
                    <h2 th:if="${sortOption == 'notImportantNotUrgent'}">Zadania nieważne i niepilne:</h2>

                    <ul>
                        <li th:each="task : ${sortedTasks}">
                            <span th:text="${task.due_Date}"></span> -
                            <span th:text="${task.category.categoryName}"></span> -
                            <span th:text="${task.description}"></span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>
