<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Zadania na dzisiaj</title>
    <link rel="stylesheet" href="/css/todayTasks.css"> <!-- Importowanie nowego pliku CSS -->
    <script src="/js/todayTasks.js" defer></script> <!-- Dołączenie pliku JavaScript -->
</head>
<body>
<div th:fragment="todayTasks">
    <section id="today-tasks">
        <h2> Liczba zadań do zrobienia na dziś:
            <span id="tasksToDoCounter" th:text="${uncompletedTodayTasksCount}"></span>
        </h2>
        <div class="image-container">
            <img src="/images/kotek.png" alt="Opis obrazu" class="menu-image"/>
        </div>
        <div class="tasks-container">
            <div class="task-card" th:each="task : ${todayTasks}" th:if="${!task.completed}">
                <h3 th:text="${task.description}"></h3>
                <p th:text="'Kategoria: ' + ${task.category.categoryName}"></p>
                <form th:action="@{'/changeStatus/' + ${task.taskId}}" method="post">
                    <input type="hidden" name="completed" value="true"/>
                    <input type="hidden" name="taskId" th:value="${task.taskId}"/>
                    <button type="submit">Zakończ</button>
                </form>
            </div>
        </div>
</div>
</section>
</div>
</body>
</html>
